<section id="shell" flex class="shell" layout="row"  layout-align="start stretch">

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftNav" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools" translate>APP_NAME</h1>
      </md-toolbar>
      <md-content layout-padding>
        <md-list>
          <md-list-item ng-class="{ 'md-primary': shell.stateContains('app.home') }" ui-sref="app.home">
            <span translate>Home</span>
          </md-list-item>
          <md-list-item ng-class="{ 'md-primary': shell.stateContains('app.home') }" ui-sref="app.effects">
            <span translate>Effects</span>
          </md-list-item>
          <md-list-item ng-class="{ 'md-primary': shell.stateContains('app.about') }" ui-sref="app.about">
            <span translate>About</span>
          </md-list-item>
          <md-list-item ng-class="{ 'md-primary': shell.stateContains('app.settings') }" ui-sref="app.settings">
            <span translate>Settings</span>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>

    <section layout="column" flex layout-align="start stretch">
      <md-content>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeftNav()">
              <md-icon md-svg-icon="images/icons/menu.svg"></md-icon>
            </md-button>
            <span flex>{{viewTitle}}</span>
            <md-button class="md-icon-button" aria-label="More" ng-click="toggleRightNav()">
              <md-icon md-svg-icon="images/icons/more_vert.svg"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
      </md-content>
      <!-- View content -->
      <div ui-view="main" layout="row" flex layout-align="start stretch"></div>
    </section>


    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="rightNav">
      <div ui-view="side"></div>
    </md-sidenav>
  </section>
</div>
</section>
