<section id="shell" class="shell" layout="row" flex>

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftNav" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools" translate>APP_NAME</h1>
      </md-toolbar>
      <md-content layout-padding>
        <md-list>
          <md-list-item ng-class="{ 'md-primary': shell.stateContains('app.home') }" ui-sref="app.home">
            <span translate>Home</span>
          </md-list-item>
          <md-list-item ng-class="{ 'md-primary': shell.stateContains('app.home') }" ui-sref="app.effects">
            <span translate>Effects</span>
          </md-list-item>
          <md-list-item ng-class="{ 'md-primary': shell.stateContains('app.about') }" ui-sref="app.about">
            <span translate>About</span>
          </md-list-item>
          <md-list-item>
            <span translate>Language</span>
            <md-menu>
              <md-button md-menu-origin ng-click="$mdOpenMenu()">{{shell.currentLocale.id}}</md-button>
              <md-menu-content width="2">
                <md-menu-item ng-repeat="language in ::shell.languages">
                  <md-button ng-click="setLanguage(language)">{{language}}</md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>

    <md-content flex layout-padding>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeftNav()">
            <md-icon md-svg-icon="images/icons/menu.svg"></md-icon>
          </md-button>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="More" ng-click="toggleRightNav()">
            <md-icon md-svg-icon="images/icons/more_vert.svg"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
    </md-content>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="rightNav">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Settings</h1>
      </md-toolbar>
      <md-content layout-padding>
        <form>
          <md-input-container>
            <label for="url">lightServer</label>
            <input type="text" id="lightServer"
              ng-model="$parent.lightServer" md-autofocus>
          </md-input-container>
        </form>
        <md-button ng-click="saveLightUrl()" class="md-primary">
          save
        </md-button>

        <md-button ng-click="closeNavs()" class="md-primary">
          close settings
        </md-button>
      </md-content>
    </md-sidenav>
  </section>
</div>

  <!-- View content -->
  <div ui-view></div>

</section>
