<section id="settings-screen"  flex layout="column">
  <md-list>
    <md-list-item>
      <span translate>Language</span>
      <md-menu>
        <md-button md-menu-origin ng-click="$mdOpenMenu()"><span>{{vm.currentLocale.id|translate}}</span></md-button>
        <md-menu-content width="2">
          <md-menu-item ng-repeat="language in ::vm.languages">
            <md-button ng-click="vm.setLanguage(language)">
              {{language|translate}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-list-item>
  </md-list>
</section>
